<div class="nav-wrapper">
    <nav class="navbar nav-tabs navbar-light">
        <div class="container-fluid">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/school-diary']">Diary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/notes']">Notes</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
