<div class="nav-wrapper">
    <nav class="navbar nav-tabs navbar-light">
        <div class="container-fluid">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="#!/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/start">Diary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/teams">Notes</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
