<form class="studentDetails mt-5" novalidate [formGroup]="studentDetails" (ngSubmit)="saveStudentProfile()">
    <fieldset class="border p-2">
      <legend>Student Profile:</legend>
      <div class="form-group">
        <label for="classNumber">Class Number:</label>
        <input formControlName="number" type="number" class="form-control" id="classNumber" placeholder="Number in Class">
        <div *ngIf="classNumberControl.errors" class="errors">
          <small *ngIf="classNumberControl.errors.required && (classNumberControl.touched || classNumberControl.dirty)">
            This field is required!
          </small>
          <small *ngIf="classNumberControl.errors.min">
            The student's class number cannot be negative or zero!
          </small>
        </div>
      </div>

      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input [attr.disabled]="true" formControlName="firstName" type="text" class="form-control" id="firstName" placeholder="First Name">
        <!-- <div *ngIf="firstNameControl.errors" class="errors">
          <small *ngIf="firstNameControl.errors.required && (firstNameControl.touched || firstNameControl.dirty)">
            This field is required!
          </small>
          <small *ngIf="firstNameControl.errors.minlength">
            Must be at least {{ firstNameControl.errors.minlength.requiredLength }} letters!
          </small>
        </div> -->
      </div>
  
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input [attr.disabled]="true" formControlName="lastName" type="text" class="form-control lastName" id="lastName" placeholder="Last Name">
        <!-- <div *ngIf="lastNameControl.errors" class="errors">
          <small *ngIf="lastNameControl.errors.required && (lastNameControl.touched || lastNameControl.dirty)">
            This field is required!
          </small>
          <small *ngIf="lastNameControl.errors.minlength">
            Must be at least {{ lastNameControl.errors.minlength.requiredLength }} letters
          </small>
        </div> -->
      </div>

      <div class="form-group">
        <label for="age">Age:</label>
        <input formControlName="age" type="number" class="form-control" id="age" placeholder="Type student's age">
        <div *ngIf="ageControl.errors" class="errors">
          <small *ngIf="ageControl.errors.required && (ageControl.touched || ageControl.dirty)">
            This field is required!
          </small>
          <small *ngIf="ageControl.errors.range">
              The student's age must be between 6 and 99!
          </small>
        </div>
      </div>
  
      <div class="form-group">
        <label for="address">Address:</label>
        <input formControlName="address" type="text" class="form-control" id="address" placeholder="Home Address">
        <div *ngIf="addressControl.errors" class="errors">
          <small *ngIf="addressControl.errors.required && (addressControl.touched || addressControl.dirty)">
            This field is required!
          </small>
          <small *ngIf="addressControl.errors.minlength">
            Must be at least {{ addressControl.errors.minlength.requiredLength }} letters
          </small>
        </div>
      </div>
  
      <div class="form-group">
        <label for="phoneNumber">Phone Number:</label>
        <input formControlName="phoneNumber" type="tel" class="form-control" id="phoneNumber" placeholder="Phone Number">
        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
  
      <section>
        <label for="notes">Notes:</label>
        <br>
        <textarea formControlName="notes" id="notes" style="width: 100%" rows="3" placeholder="Write some notes"></textarea>
      </section>
    </fieldset>
    <br>
    <button type="submit" [disabled]="!studentDetails.valid" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-danger" (click)="onResetForm()">Reset</button>
  </form>

  <br>
  <button type="submit" class="btn btn-outline-primary btn-sm pl-4 pr-4" (click)="onBackToDiary()">Cancel</button>
