<button (click)="getSelectedRows()">Get Selected Rows</button>

<ag-grid-angular
  #agGrid
  style="width: 500px; height: 500px;" 
  class="ag-theme-balham"
  [rowData]="rowData | async" 
  [columnDefs]="columnDefs"
  rowSelection="multiple"
  >
</ag-grid-angular>

<ngx-loading [show]="loading"></ngx-loading>

<h2>Hello World</h2>

<p-button icon="pi pi-check" label="Click"></p-button>

<p-calendar [(ngModel)]="value"></p-calendar>

<app-core></app-core>
<app-shared></app-shared>
<app-feature></app-feature>
