<button (click)="getSelectedRows()">Get Selected Rows</button>

<ag-grid-angular
  #agGrid
  style="width: 500px; height: 500px;" 
  class="ag-theme-balham"
  [rowData]="rowData | async" 
  [columnDefs]="columnDefs"
  rowSelection="multiple"
  >
</ag-grid-angular>

<ngx-loading [show]="loading"></ngx-loading>


<button class="btn btn-danger">Click Me</button>

<div class="container">
  <p-fullCalendar [events]="events"></p-fullCalendar>
</div>

<p-button icon="pi pi-check" label="Click"></p-button>

<p-calendar [(ngModel)]="value"></p-calendar>

<div>
  <label>PDF src</label>
  <input type="text" placeholder="PDF src" [(ngModel)]="pdfSrc">
</div>

<div class="container">
  <pdf-viewer [src]="pdfSrc"
  [render-text]="true"
  [page]="page"
  [show-all]="false"
  style="display: block;"></pdf-viewer>
</div>

<app-core></app-core>
<app-shared></app-shared>
<app-feature></app-feature>
