.form-control {
    color: red;
}

input[type=text].ng-untouched.ng-pristine {
    color: blue;
}

.welcome-back {
    font-size: 1.6em;
    color: red;
    z-index: 999;
}

.errors {
    color: red;
}

button:disabled {
    background-color: rgba(246, 244, 241, 1);
    border-color: rgba(246, 244, 241, 1);
    color: rgba(65, 65, 67, 0.8);
    cursor: default;
}