<p>Home works</p>
<!-- <div class="container">
  
  <ngx-loading [show]="loading"></ngx-loading>

  
  <p-button icon="pi pi-check" label="Click"></p-button>
  
  <p-calendar [(ngModel)]="value"></p-calendar>
  
  <div>
    <label>PDF src</label>
    <input type="text" placeholder="PDF src" [(ngModel)]="pdfSrc">
  </div>
  
  <div class="container">
    <pdf-viewer [src]="pdfSrc"
    [render-text]="true"
    [page]="page"
    [show-all]="false"
    style="display: block;"></pdf-viewer>
  </div>
  
  </div> -->